{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/jquery.dataTables.min.css' %}">


</head>
<body>
    <div class="container">    
    	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Esqueceu a senha?</a></div>
                </div>     

                <div style="padding-top:30px" class="panel-body" >

                    {% if error == True %}
                        <p class="alert alert-danger">Username ou senha INVÁLIDO!</p>
                    {% endif %}

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email" required="">                                        
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="password" required="">
                        </div>

                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> Lembre-me
                                </label>
                            </div>
                        </div>


                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <input type="submit" name="Entrar" class="btn btn-success">
                                <!-- <a id="btn-login" href="#" class="btn btn-success" type="submit">Entrar  </a> -->
                                <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                    Não tem uma conta!
                                    <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                        Assine aqui
                                    </a>
                                </div>
                            </div>
                        </div>    
                    </form>     

                </div>                     
            </div>  
        </div>
        <div id="signupbox" style="display:none; margin-top:10px" class="mainbox col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                </div>  
                <div class="panel-body" >
                    <form id="signupform" class="form-horizontal" data-toggle="validator" role="form">
                        {% csrf_token %}
                        <!-- COLUNA PESSOA -->
                        <!-- <div class="col-md-6">
                            

                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>


                            <div class="form-group">
                                <label for="nome" class="col-md-3 control-label">Nome</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="nome" placeholder="Nome" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sexo" class="col-md-3 control-label">Sexo</label>
                                <div class="col-md-9">
                                    <select class="form-control">
                                        {% for sexo in sexo %}
                                            <option value="{{ sexo.sexo }}">{{ sexo.sexo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpf" class="col-md-3 control-label">CPF</label>
                                <div class="col-md-9">
                                    <input id="cpf" type="text" class="form-control" name="cpf" placeholder="CPF" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rg" class="col-md-3 control-label">RG</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="rg" placeholder="RG">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="data_nascimento" class="col-md-3 control-label">Nascimento</label>
                                <div class="col-md-9">
                                    <input id="data_nascimento" type="text" class="form-control" name="nascimento" placeholder="Data de Nascimento">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telefone" class="col-md-3 control-label">Telefone</label>
                                <div class="col-md-9">
                                    <input id="telefone" type="text" class="form-control" name="telefone" placeholder="Telefone">
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            

                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>




                            <div class="form-group">
                                <label for="sus" class="col-md-3 control-label">SUS</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="sus" placeholder="SUS">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cbo" class="col-md-3 control-label">CBO</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="cbo" placeholder="CBO">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="cnes" class="col-md-3 control-label">CNES</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="cnes" placeholder="CNES">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cod_equipe" class="col-md-3 control-label">Código Equipe</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="cod_equipe" placeholder="Código Equipe">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="col-md-3 control-label">Tipo Prof.</label>
                                <div class="col-md-9">
                                    <select class="form-control">
                                        {% for tipo in tipo_profissional %}
                                            <option value="{{ tipo.nome }}">{{ tipo.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username" class="col-md-3 control-label">Nome Usuário</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="username" placeholder="Nome de usuário">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="control-label">Senha</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua Senha..."  
                                  data-minlength="6" required>
                                <span class="help-block">Mínimo de seis (6) digitos</span>
                            </div>
                              
                            <div class="form-group">
                                <label for="inputConfirm" class="control-label">Confirme a Senha</label>
                                <input type="password" class="form-control" name="password" id="inputConfirm" placeholder="Confirme sua Senha..." 
                                  data-match="#inputPassword" data-match-error="Atenção! As senhas não estão iguais." required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <!-- Button -->                                        
                                <!-- <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                </div>
                            </div> -->

                            <!-- <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                                </div>                                           

                            </div> -->


                        <!-- </div> -->
                        
                        
                    </form>
                </div>
            </div>       
        </div> 
    </div>
    <script type="text/javascript" src="{% static 'scripts/vendor/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/vendor/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/vendor/table.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/vendor/funcao.js' %}"></script>

    <script type="text/javascript" src="{% static 'scripts/vendor/validator.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/vendor/mascara.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/vendor/code_mascara.js' %}"></script>
</body>
</html>